[Unit]
Description=myfileserver service
After=syslog.target docker.service remote-fs.target
 
[Service]
Type=simple
ExecStart=/wls/myfileserver/myfileserver.sh
# ExecReload=target_dir/restart.sh 
# ExecStop=target_dir/shutdown.sh
SuccessExitStatus=0
  
[Install]
WantedBy=multi-user.target